$dark-color: #1F2041;
$dark-color100: rgba($dark-color, 1);
$dark-color75: rgba($dark-color, 0.75);
$dark-color50: rgba($dark-color, 0.5);
$dark-color25: rgba($dark-color, 0.25);
$dark-color5: rgba($dark-color, 0.05);
$purple-color:#BC9CFF;
$green-color:#6FCF97;
$blue-color: #8BA4F9;