@use './parts/null';
@use './parts/variables.scss' as var;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2'),
    url('../fonts/Montserrat-Medium.woff'),
    url('../fonts/Montserrat-Medium.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2'),
    url('../fonts/Montserrat-Bold.woff'),
    url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

html {
  font-size: 14px;
}

h1 {
  @include var.text-font-h1
}

h2 {
  @include var.text-font-h2
}

h3 {
  @include var.text-font-h3
}

.button_purple {
  display: block;
  text-align: center;
  padding: 14px 22px 15px 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;

  &:hover,
  &:focus-visible {
    opacity: 0.5;
  }
}

.button_light {
  position: relative;
  padding: 12px 25px;
  @include var.text-font-h3;
  color: var.$purple-color;
  text-transform: uppercase;
  background-color: white;
  border-radius: 22px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
    border-radius: 22px;
    z-index: -1;
  }

  &:hover,
  &:focus-visible {
    &::before {
      opacity: 0.5;
    }

  }
}

.info-after {
  &::after {
    content: "i";
    display: inline-block;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    cursor: help;
  }
}

._lock {
  overflow: hidden;
}

a:focus-visible {
  outline: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
}

// -----Header-----------
.header {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
    height: 70px;

  }

  &__content::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 5;
    background-color: #fff;
  }

  &__logo {
    height: 40px;
    z-index: 10;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin: 10px 10.5px;
    letter-spacing: 0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &__link {
    @include var.text-font-regular;
    white-space: nowrap;
  }

  &__login-menu {
    display: flex;
    align-items: baseline;
  }

  &__login-menu li {
    overflow: visible;
  }


  &__login-button {
    padding: 7.5px 18px;
    color: var.$purple-color;
    font-style: normal;
    font-weight: 700;
    font-size: 0.857rem;
    line-height: 1.071rem;
  }

  &__registration-button {
    margin-right: -1px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.857rem;
    line-height: 1.071rem;
    text-transform: uppercase;
    color: #FFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
  }

  &__registration {
    margin-right: 0;
  }

  &__user-panel {
    display: none;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__user-panel li:first-child {
    margin: 0 10.5px;
  }

  &__bar {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: var.$dark-color25;
  }

  &__user-name {
    display: block;
    @include var.text-font-regular;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.arrow-menu {}

.arrow-menu::after {
  content: url("../img/icons/arrow_down.svg");
  padding: 3px;
}

@media (max-width: 862px) {
  .burger-icon {
    display: flex;
    width: 40px;
    height: 40px;
    z-index: 10;
    background-color: var.$purple-color;
    border-radius: 50%;
  }

  .burger-icon__body {
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20px;
    height: 15px;
  }

  .burger-icon__body span {
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

  .burger-icon span:nth-child(2) {
    left: 0%;
  }

  .burger-icon[data-open='true'] span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .burger-icon[data-open='true'] span:nth-child(2) {
    top: 100%;
    left: -100%;
  }

  .burger-icon[data-open='true'] span:nth-child(3) {
    position: absolute;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header__content {
    flex-wrap: wrap;
  }

  .header__menu {
    position: absolute;
    top: -400px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 10px;
    z-index: 1;
    background-color: #fff;
    // width: 100%;
    border-top: 2px solid var.$purple-color;
    transition: all 0.3s ease 0s;
    overflow: hidden;
  }

  .header__menu._active {
    position: relative;
    width: 100%;
    top: 0;
  }

  .header__login-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__login-menu li {
    margin: 16px 10.5px;
  }

  .header__list {
    flex-direction: column;
  }

  .header__user-name {
    max-width: 70vw;
  }
}

//-------Footer----------
.footer {

  &__body {
    margin-top: 104px;
    padding-bottom: 84px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  }

  &__content {
    margin: 0px auto;
    padding: 0 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  &__description {
    max-width: 260px;
    margin-right: 40px;
  }

  &__logo {
    margin: 0 0 16px 0;
    height: 40px;
  }

  &__info {
    @include var.text-font-regular;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    max-width: 549px;
    margin-right: 51px;
  }

  &__menu h3,
  .footer__subscribe h3 {
    margin-bottom: 21px;
    @include var.text-font-h3;
    text-transform: uppercase;
  }

  &__navigation {}

  &__list {}

  &__item {
    margin: 14px 0;
  }

  &__link {
    @include var.text-font-regular;
  }

  &__about {
    margin-left: 56px;
    margin-right: 91px;
  }

  &__support {
    min-width: 149px;
  }

  &__subscribe {
    max-width: 260px;
  }

  &__subscribe-text {
    display: inline-block;
    margin-bottom: 21px;
    background-repeat: no-repeat;
    @include var.text-font-regular;
  }

  &__input-wrapper {
    position: relative;
  }

  &__email-input {
    position: relative;
    display: block;
    padding: 12px 38px 8px 15px;
    max-width: 260px;
    width: 100%;
    border: 1px solid var.$dark-color25;
    border-radius: 4px;
    @include var.text-font-regular;

    &::placeholder {
      color: var.$dark-color25;
    }
  }

  &__input-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-image: url('../img/icons/arrow_forward.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 46px;
    padding: 0 5px 0 35px;
    cursor: pointer;
  }

  &__bottom {
    padding: 0 20px;
    height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__bottom .footer__content {
    align-items: center;
    height: 70px;
  }

  &__copyright {
    text-align: center;
    @include var.text-font-regular;
    letter-spacing: -0.1px;
  }

  &__socials {
    max-width: 112px;
    width: 100%;
  }

  &__social-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1070px) {
  .footer__menu {
    margin-right: 27px;
  }

  .footer__about {
    margin-right: 50px;
  }
}

@media (max-width: 1050px) {
  .footer {
    &__body {
      box-shadow: none;
      padding-bottom: 20px;

    }

    &__content {
      justify-content: center;
    }

    &__description {
      margin-right: 0;
    }

    &__logo {
      margin: 0;
    }

    &__info {
      display: none;
    }

    &__menu {
      display: none;
    }

    &__subscribe {
      display: none;
    }

    &__bottom {
      box-shadow: none;
      margin-bottom: 120px;
    }

    &__bottom .footer__content {
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

// ----Index-------------------
.main {
  flex: 1 0 auto;
  background-color: #fff;
  background: url('../img/index/image-background.jpg') no-repeat 50%/ cover;

  &__content {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    min-height: 756px;
  }

  &__text {
    position: absolute;
    bottom: 18px;
    right: 10px;
    max-width: 264px;
    @include var.text-font-regular;
    text-align: right
  }
}

.find-room {

  &__content {
    margin-top: 70px;
    padding: 40px 30px 30px;
    max-width: 380px;
    min-width: 280px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    h1 {
      margin-bottom: 18px;
    }
  }

  &__dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 320px;
  }

  &__date {
    max-width: 150px;
    display: flex;
    flex-direction: column;

    & label {
      position: relative;
      margin-bottom: 9px;
      @include var.text-font-h3;
      text-transform: uppercase;

      &::after {
        content: url(../img/icons/arrow_down.svg);
        width: auto;
        height: auto;
        position: absolute;
        top: calc(65px - 21px - 7.5px);
        right: 0px;
        padding-right: 15px;
        pointer-events: none;
      }

      & span {
        display: block;
        margin-bottom: 6px;
      }
    }

    & input {
      @include var.regular-input;
      max-width: 150px;
    }
  }

  &__datapicker_inline {
    // position: absolute;
    // display: none;
    // height: 0;
    // width: 0;
    // opacity: 0;
  }

  @media (max-width: 420px) {
    &__dates {
      flex-direction: column;
    }

    &__date {
      max-width: 320px;

      & input {
        max-width: 320px;
        width: 100%;
      }
    }
  }


  &__guests {
    margin-top: 12px;
    margin-bottom: 30px;

    & label {
      position: relative;
      @include var.text-font-h3;
      text-transform: uppercase;

      &::after {
        content: url(../img/icons/arrow_down.svg);
        width: auto;
        height: auto;
        position: absolute;
        top: calc(65px - 21px - 7.5px);
        right: 0px;
        padding-right: 15px;
        pointer-events: none;
      }

      & span {
        display: block;
        margin-bottom: 5px;
      }

      & input {
        max-width: 320px;
        @include var.regular-input;
        padding-right: 30px;
      }
    }
  }

  &__button {
    position: relative;
    display: inline-block;
    max-width: 320px;
    width: 100%;
    height: 44px;

    &::after {
      content: url("../img/icons/arrow_forward_white.svg");
      position: absolute;
      width: 18px;
      height: 18px;
      right: 15px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

//-----Sign-in------

.sign-in-main {
  flex: 1 0 auto;
  background-color: #fff;
  background: url('/img/sign-in/background-image3.jpg') no-repeat 50%/ cover;
  min-height: 702px;

  &__content {
    position: relative;
    margin-top: 172px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 420px;
  }

  .sign-form {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__content {
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px 10px 30px;
      position: relative;
      z-index: 0
    }

    h1 {
      margin-bottom: 20px;
    }

    &__email-input {
      @include var.regular-input;
      margin-bottom: 10px;
    }

    &__password-input {
      @include var.regular-input;
      margin-bottom: 20px;
    }

    &__sign-button {
      margin-bottom: 30px;
      position: relative;

      &::after {
        content: url(../img/icons/arrow_forward_white.svg);
        position: absolute;
        width: 18px;
        height: 18px;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &__registration {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 44px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.714rem;
      color: #000;
    }
  }
}

//------registration-----
.registration-main {
  flex: 1 0 auto;
  min-height: 753px;
  background-color: #fff;
  background: url('/img/registration/background-image2.jpg') no-repeat 50%/ cover;

  &__content {
    position: relative;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 420px;

  }

  .account-registration {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__content {
      max-width: 340px;
      margin: 0 auto;
      padding: 40px 10px 30px;
      position: relative;
      z-index: 0
    }

    h1 {
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    &__name {
      @include var.regular-input;
      margin-bottom: 10px;
    }

    &__surname {
      @include var.regular-input;
      margin-bottom: 10px;
    }

    &__gender-select {
      margin-bottom: 20px;

      label {
        position: relative;
        padding-left: 30px;
        @include var.text-font-regular;

        &:first-child {
          margin-right: 15px;
        }

        input {
          position: absolute;
          height: 0;
          width: 0;
          opacity: 0;
          visibility: hidden;
          cursor: pointer;
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid var.$dark-color25;
        }

        input:checked~.checkmark {
          background-color: #fff;
          border: 1px solid var.$purple-color;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        input:checked~.checkmark:after {
          display: block;
        }

        .checkmark:after {
          top: 50%;
          left: 50%;
          transform: translate(-50%, - 50%);
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }

      }
    }

    &__birthdate {
      @include var.regular-input;
      margin-bottom: 20px;
    }

    &__email-input {
      @include var.regular-input;
      margin-bottom: 10px;
    }

    &__password-input {
      @include var.regular-input;
      margin-bottom: 5px;
    }

    &__mail-subscription {}

    .switch {
      position: relative;
      display: block;
      height: 34px;
      margin-bottom: 16px;
      @include var.text-font-regular
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
      visibility: hidden;
    }

    .slider {
      position: relative;
      display: inline-block;
      cursor: pointer;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 40px;
      height: 20px;
      margin-right: 3px;
      background-color: #fff;
      transition: all .4s;
      transform: translate(0, -50%);
      border: 1px solid var.$dark-color25;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 3px;
      background-color: var.$dark-color25;
      transition: transform .4s;
    }

    input:checked+.slider {
      border: 1px solid var.$purple-color;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px var.$purple-color;
    }

    input:checked+.slider:before {
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      transform: translateX(20px);
    }

    .slider.round {
      border-radius: 10px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .payment-button {
      position: relative;
      margin-bottom: 31px;

      &::after {
        content: url("../img/icons/arrow_forward_white.svg");
        position: absolute;
        width: 18px;
        height: 18px;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &__login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 44px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.714rem;
      color: #000;

    }

    .login-button {
      position: relative;
      padding: 12px 25px;
    }
  }
}