@use './parts/null';
@use './parts/variables.scss' as var;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2'),
    url('../fonts/Montserrat-Medium.woff'),
    url('../fonts/Montserrat-Medium.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2'),
    url('../fonts/Montserrat-Bold.woff'),
    url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

:root {
  --swiper-navigation-size: 24px !important;
  --swiper-theme-color: #fff !important;
  --swiper-pagination-bullet-inactive-color: transparent !important;
}

.unstyled {
  appearance: none;
  -webkit-appearance: none;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.swiper-pagination {
  text-align: end !important;
  padding-right: 10px !important;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  border: 1px solid #fff;
}

html {
  font-size: 14px;
}

.h1 {
  @include var.text-font-h1
}

.h2 {
  @include var.text-font-h2
}

.h3 {
  @include var.text-font-h3
}

.button_purple {
  display: block;
  position: relative;
  text-align: center;
  padding: 14px 20px 15px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFF !important;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  user-select: none;

  &:hover,
  &:focus-visible {
    // opacity: 0.6;
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 80%;
    bottom: 6px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    background-color: #fff;
  }

  &:hover::before,
  &:focus-visible::before {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }
}

.button_light {
  position: relative;
  padding: 12px 25px;
  @include var.text-font-h3;
  color: var.$purple-color;
  text-transform: uppercase;
  background-color: white;
  border-radius: 22px;
  user-select: none;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
    border-radius: 22px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 62%;
    bottom: 6px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    background-color: #bc9cff;
  }

  &:hover,
  &:focus-visible {
    outline: none;
  }

  &:hover::after,
  &:focus-visible::after {
    opacity: 1;

  }

  &:active {
    color: rgba(188, 156, 255, 0.8)
  }

  &:active::before,
  &:active::before {
    background: linear-gradient(180deg, #bb9cffd3, #8ba5f9d3);
  }
}

.info-after {
  &::after {
    content: "i";
    display: inline-block;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    cursor: help;
  }
}

.dropdown-menu {
  position: absolute;
  top: calc(100% - 1px);
  z-index: 5;
  width: 100%;
  height: 0;
  border-radius: 0 0 4px 4px;
  border: 1px solid var.$dark-color50;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background-color: #FFF;

  .dropdown-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5px 0 3.5px 15px
  }

  .dropdown-menu__item:first-child {
    margin-top: 3px;
  }

  .dropdown-menu__item:last-of-type {
    margin-bottom: 13px;
  }

  .item__title {
    text-transform: uppercase;
  }

  .item__quantity {
    user-select: none;
  }

  .count-button {
    width: 30px;
    height: 30px;
    margin: 0 7px;
    border-radius: 50%;
    border: 1px solid var.$dark-color50;
    background-color: #FFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var.$dark-color50;
    user-select: none;
  }

  .count-button[disabled] {
    border: 1px solid var.$dark-color25;
    cursor: default;
  }

  .count-button:focus-visible {
    border: 2px solid black;
  }

  .item__count {
    @include var.text-font-h3;
    width: 20px;
    text-align: center;
    background-color: #FFF;
  }

  &__buttons {
    margin: 15px;
    display: flex;
    justify-content: space-between;
  }

  .dropdown-button {
    position: relative;
    padding: 3px;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: var.$purple-color;
    text-transform: uppercase;
    user-select: none;
    overflow: hidden;
    transition: left 0.3s;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-color: var.$purple-color;
      transition: transform 0.3s;
    }

    &:active {
      filter: brightness(1.2);
    }

    &:hover,
    &:focus-visible {
      &::after {
        transform: translateX(0);
      }
    }
  }

  .clear-button {}
}

._active .dropdown-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
}

._active .guests__label::after {
  transform: rotate(180deg);
}

._active .guests__input {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.input-arrow {
  line-height: 44px;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 40px;
  pointer-events: none;

  &::before {
    content: url(../img/icons/arrow_down.svg);
    display: inline-block;
  }
}

._lock {
  overflow: hidden;
}

.hidden-button {
  opacity: 0;
  visibility: hidden;
}

a:focus-visible {
  outline: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.wrapper-flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 320px;

  &__date {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-transform: uppercase;
  }

  &__label {
    position: relative;
    margin-top: 6px;
    margin-bottom: 9px;
    @include var.text-font-h3;


    &::after {
      content: url(../img/icons/arrow_down.svg);
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      right: 0px;
      padding-right: 15px;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  &__input {
    @include var.regular-input;

    max-width: 150px;
    width: 100%;
  }

  @media (max-width: 420px) {
    & {
      flex-direction: column;
    }

    &__date {
      max-width: 320px;
    }

    &__input {
      max-width: 320px;
    }
  }
}

.guests {

  .h3 {
    text-transform: uppercase;
  }

  &__label {
    position: relative;
    @include var.text-font-h3;

    &::after {
      content: url(../img/icons/arrow_down.svg);
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      padding-inline: 15px;
      pointer-events: none;
      transition: 0.3s transform ease;
    }
  }

  &__input {
    max-width: 320px;
    @include var.regular-input;
    margin-top: 5px;
    padding-right: 30px;
  }

}

// -----Header-----------
.header {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: 5;

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
    height: 70px;
  }

  &__content::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 5;
    background-color: #fff;
  }

  &__logo {
    line-height: 70px;
    z-index: 10;

    img {
      vertical-align: middle;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    text-overflow: ellipsis;

  }


  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin: 10px 10.5px;
    padding: 1px;
    letter-spacing: 0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    @include var.text-font-regular;
    color: var.$dark-color50;
    white-space: nowrap;

    &:hover {

      &:hover {
        color: var.$dark-color75;
      }
    }
  }

  &__login-menu {
    display: flex;
    align-items: baseline;
  }

  &__login-menu li {
    overflow: visible;
  }


  &__login-button {
    padding: 8px 18px;
    color: var.$purple-color;
    font-style: normal;
    font-weight: 700;
    font-size: 0.857rem;
    line-height: 1.071rem;
  }

  &__registration-button {
    margin-right: -1px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.857rem;
    line-height: 1.071rem;
    text-transform: uppercase;
    color: #FFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
  }

  &__registration {
    margin-right: 0;
  }

  &__user-panel {
    display: none;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__user-panel li:first-child {
    margin: 0 10.5px;
  }

  &__bar {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: var.$dark-color25;
  }

  &__user-name {
    display: block;
    @include var.text-font-regular;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.arrow-menu {}

.arrow-menu::after {
  content: url("../img/icons/arrow_down.svg");
  padding: 3px;
}

@media (max-width: 862px) {
  .burger-icon {
    display: flex;
    width: 40px;
    height: 40px;
    z-index: 10;
    background-color: var.$purple-color;
    border-radius: 50%;
  }

  .burger-icon__body {
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20px;
    height: 15px;
  }

  .burger-icon__body span {
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

  .burger-icon span:nth-child(2) {
    left: 0%;
  }

  .burger-icon[data-open='true'] span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .burger-icon[data-open='true'] span:nth-child(2) {
    top: 100%;
    left: -100%;
  }

  .burger-icon[data-open='true'] span:nth-child(3) {
    position: absolute;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header__content {
    flex-wrap: wrap;
    position: relative;
  }

  .header__menu {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    border-top: 2px solid var.$purple-color;
    border-bottom: 2px solid var.$purple-color;
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  .header__menu._active {
    transform: translateY(352px);
  }

  .header__login-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__login-menu li {
    margin: 16px 10.5px;
  }

  .header__list {
    flex-direction: column;
  }

  .header__user-name {
    max-width: 70vw;
  }
}

//-------Footer----------
.footer {
  border: 1px solid rgba(31, 32, 65, 0.25);
  // box-shadow: 0px 0px 2px rgba(31, 32, 65, .15);

  &__body {
    margin-top: 90px;
    padding-bottom: 84px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  }

  &__content {
    margin: 0px auto;
    padding: 0 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  &__description {
    max-width: 260px;
    margin-right: 40px;
  }

  &__logo {
    margin: 0 0 16px 0;
    height: 40px;
  }

  &__info {
    @include var.text-font-regular;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    max-width: 549px;
    margin-right: 51px;
  }

  &__menu .h3,
  &__subscribe .h3 {
    margin-bottom: 21px;
    text-transform: uppercase;
  }

  &__navigation {}

  &__list {}

  &__item {
    margin: 14px 0;
  }

  &__link {
    @include var.text-font-regular;
    color: var.$dark-color50;

    &:hover {
      color: var.$dark-color75;
    }
  }

  &__about {
    margin-left: 56px;
    margin-right: 91px;
  }

  &__support {
    min-width: 149px;
  }

  &__subscribe {
    max-width: 260px;
  }

  &__subscribe-text {
    display: inline-block;
    margin-bottom: 21px;
    background-repeat: no-repeat;
    @include var.text-font-regular;
  }

  &__input-wrapper {
    position: relative;
  }

  &__email-input {
    position: relative;
    display: block;
    max-width: 260px;
    @include var.regular-input;
    padding: 0 35px 0 10px;
    cursor: auto;

  }

  &__input-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-image: url('../img/icons/arrow_forward.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 46px;
    padding: 0 5px 0 35px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__bottom {
    padding: 0 20px;
    height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__bottom .footer__content {
    align-items: center;
    height: 70px;
  }

  &__copyright {
    text-align: center;
    @include var.text-font-regular;
    letter-spacing: -0.1px;
  }

  &__socials {
    max-width: 112px;
    width: 100%;
  }

  &__social-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1070px) {
  .footer__menu {
    margin-right: 27px;
  }

  .footer__about {
    margin-right: 50px;
  }
}

@media (max-width: 1050px) {
  .footer {
    &__body {
      box-shadow: none;
      padding-bottom: 20px;

    }

    &__content {
      justify-content: center;
    }

    &__description {
      margin-right: 0;
    }

    &__logo {
      margin: 0;
    }

    &__info {
      display: none;
    }

    &__menu {
      display: none;
    }

    &__subscribe {
      display: none;
    }

    &__bottom {
      box-shadow: none;
      padding-bottom: 120px;
    }

    &__bottom .footer__content {
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

// ----Index-------------------
.main {
  flex: 1 0 auto;
  background-color: #fff;
  background: url('../img/index/image-background.jpg') no-repeat 50%/ cover;

  &__content {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    min-height: 756px;
  }

  &__text {
    position: absolute;
    bottom: 18px;
    right: 10px;
    max-width: 264px;
    @include var.text-font-regular;
    text-align: right
  }
}

.find-room {
  max-width: 380px;

  &__content {
    margin-top: 70px;
    padding: 40px 30px 30px;

    min-width: 280px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    h1 {
      margin-bottom: 21px;
    }
  }


  &__datapicker_inline {

    display: none;

    .air-datepicker.-inline- {
      position: absolute;
    }
  }

  &__guests {
    position: relative;
    margin-top: 12px;
    margin-bottom: 30px;
  }

  &__button {
    position: relative;
    display: inline-block;
    max-width: 320px;
    width: 100%;
    height: 44px;

    &::after {
      content: url("../img/icons/arrow_forward_white.svg");
      position: absolute;
      width: 18px;
      height: 18px;
      right: 15px;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:before {
      width: 45%;
    }
  }
}

//-----Sign-in------

.sign-in-main {
  flex: 1 0 auto;
  background-color: #fff;
  background: url('/img/sign-in/background-image3.jpg') no-repeat 50%/ cover;
  min-height: 702px;

  &__content {
    position: relative;
    margin-top: 172px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 420px;
  }

  .sign-form {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__content {
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px 10px 30px;
      position: relative;
      z-index: 0
    }

    h1 {
      margin-bottom: 20px;
    }

    &__email-input {
      @include var.regular-input;
      margin-bottom: 10px;
    }

    &__password-input {
      @include var.regular-input;
      margin-bottom: 20px;
    }

    &__sign-button {
      margin-bottom: 30px;
      position: relative;

      &::after {
        content: url(../img/icons/arrow_forward_white.svg);
        position: absolute;
        width: 18px;
        height: 18px;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
      }

      &::before {
        width: 20%;
      }
    }

    &__registration {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 44px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.714rem;
      color: #000;
    }
  }
}

//------Registration-----
.registration-main {
  flex: 1 0 auto;
  min-height: 753px;
  background-color: #fff;
  background: url('/img/registration/background-image2.jpg') no-repeat 50%/ cover;

  &__content {
    position: relative;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 420px;

  }

  .account-registration {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__content {
      max-width: 340px;
      margin: 0 auto;
      padding: 40px 10px 30px;
      position: relative;
      z-index: 0
    }

    .h1 {
      margin-bottom: 20px;
    }

    .h3 {
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    &__name {
      @include var.regular-input;
      margin-bottom: 10px;
    }

    &__surname {
      @include var.regular-input;
      margin-bottom: 10px;
    }

    &__gender-select {
      margin-bottom: 20px;

      label {
        position: relative;
        padding-left: 30px;
        @include var.text-font-regular;

        &:first-child {
          margin-right: 15px;
        }

        .checkbox {
          position: absolute;
          height: 0;
          width: 0;
          opacity: 0;
          // visibility: hidden;
          cursor: pointer;
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid var.$dark-color25;
          border-radius: 4px;
        }

        input:checked~.checkmark {
          background-color: #fff;
          border: 1px solid var.$purple-color;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        input:checked~.checkmark:after {
          display: block;
        }

        .checkmark:after {
          top: 50%;
          left: 50%;
          transform: translate(-50%, - 50%);
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }

        input:focus-visible+.checkmark {
          outline: auto;
        }

      }
    }

    &__birthdate {
      @include var.regular-input;
      margin-bottom: 20px;
    }

    &__email-input {
      @include var.regular-input;
      margin-bottom: 10px;
    }

    &__password-input {
      @include var.regular-input;
      margin-bottom: 5px;
    }

    &__mail-subscription {}

    .switch {
      position: relative;
      display: block;
      height: 34px;
      margin-bottom: 16px;
      @include var.text-font-regular;
      user-select: none;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
      // visibility: hidden;
    }

    .slider {
      position: relative;
      display: inline-block;
      cursor: pointer;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 40px;
      height: 20px;
      margin-right: 3px;
      background-color: #fff;
      transition: all .4s;
      transform: translate(0, -50%);
      border: 1px solid var.$dark-color25;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 3px;
      background-color: var.$dark-color25;
      transition: transform .4s;
    }

    input:checked+.slider {
      border: 1px solid var.$purple-color;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px var.$purple-color;
    }

    input:checked+.slider:before {
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      transform: translateX(20px);
    }

    .slider.round {
      border-radius: 10px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    input:focus-visible+.slider {
      outline: auto;
    }

    .payment-button {
      position: relative;
      margin-bottom: 31px;

      &::after {
        content: url("../img/icons/arrow_forward_white.svg");
        position: absolute;
        width: 18px;
        height: 18px;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
      }

      &::before {
        width: 45%;
      }
    }

    &__login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 44px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.714rem;
      color: #000;

    }

    .login-button {
      position: relative;
      padding: 12px 25px;
    }
  }
}


//------Search-room-----
.search-room .wrapper-flex_row {
  justify-content: flex-start;
  gap: 60px;
  position: relative;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  &>* {
    padding-top: 30px;
  }
}

.room-filter {
  max-width: 266px;
  background-color: #fff;

  .close-button {
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    width: 34px;
    height: 34px;
    margin-right: 20px;
    background-color: transparent;
    background-image: url("../img/icons/cancel_close_delete_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__dates-range {
    margin-bottom: 20px;
  }

  .dates-range {
    &__title {
      text-transform: uppercase;
    }

    &__label {
      position: relative;
      display: block;
    }

    &__input {
      margin-top: 5px;
      @include var.regular-input;
      text-transform: uppercase;
    }
  }

  &__guests {
    position: relative;
  }


  &__price-filter {
    margin-top: 30px;
  }

  .price-filter {
    .container {
      position: relative;
    }

    &__title {
      display: inline;
      text-transform: uppercase;
    }

    #slider-values {
      position: absolute;
      right: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 0.857rem;
      text-transform: uppercase;
      color: rgba(31, 32, 65, 0.5);
    }

    .noUi-target {
      margin-top: 20px;
      width: 266px;
      height: 8px;
      background: #FFFFFF;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 3px;
    }


    .noUi-handle {
      right: -6px;
      top: -7px;
      width: 18px;
      height: 18px;
      border-color: #FFF;
      border-width: 3px;
      border-radius: 50%;
      background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      box-shadow: none;
      cursor: pointer;
    }

    .noUi-handle:after,
    .noUi-handle:before {
      content: none;
    }

    .noUi-connects {
      overflow: visible;
    }

    .noUi-connect {
      box-sizing: content-box;
      top: -1px;
      border: 1px solid #fff;
      background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      z-index: 20;

    }

    &__text {
      margin-top: 10px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: -0.05px;
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &__permissions {
    margin-top: 30px;
    margin-bottom: 31px;

    .permissions__title {
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    .permissions__label {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 250px;
      margin-bottom: 11px;
      cursor: pointer;
      @include var.text-font-regular;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
    }

    .permissions__input {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
      visibility: hidden;
    }

    .checkmark {
      flex-shrink: 0;
      position: relative;
      height: 20px;
      width: 20px;
      margin-right: 10px;
      background-color: #fff;
      border: 1px solid var.$dark-color25;
      border-radius: 4px;
    }

    input:checked~.checkmark {
      background-color: #fff;
      border: 1px solid var.$purple-color;
    }

    .checkmark:after {
      content: url("../img/icons/vector.svg");
      position: absolute;
      display: none;
    }

    input:checked~.checkmark:after {
      display: block;
    }

    .checkmark:after {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 10px;
    }

  }

  &__accessibility {
    margin-bottom: 30px;

    .accessibility__title {
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    .accessibility__label {
      display: flex;
      align-items: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: var.$dark-color75;
      cursor: pointer;
    }

    .accessibility__text {
      max-width: 230px;
      margin-left: 30px;
      margin-bottom: 10px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 0.857rem;
      line-height: 14px;
      color: rgba(31, 32, 65, 0.5);
    }

    .accessibility__input {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
      visibility: hidden;
    }

    .checkmark {
      display: inline-block;
      position: relative;
      height: 20px;
      width: 20px;
      margin-right: 10px;
      background-color: #fff;
      border: 1px solid var.$dark-color25;
      border-radius: 4px;
    }

    input:checked~.checkmark {
      background-color: #fff;
      border: 1px solid var.$purple-color;
    }

    .checkmark:after {
      content: url("../img/icons/vector.svg");
      position: absolute;
      display: none;
    }

    input:checked~.checkmark:after {
      display: block;
    }

    .checkmark:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
    }
  }

  &__facilities {
    position: relative;

    .facilities__title {
      text-transform: uppercase;
    }

    .facilities__label {
      position: relative;
      display: block;
      margin-top: 5px;

      &:after {
        content: url("../img/icons/arrow_down.svg");
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 6;
        margin-left: 10px;
        padding: 10px 16px;
        transform: translateY(-50%);
        transform-origin: top;
        transition: rotate 0.3s;
        pointer-events: none;
        cursor: pointer;
      }
    }

    .facilities__input {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      @include var.regular-input;
      overflow: hidden;
    }

    .dropdown-menu {
      position: absolute;
      top: calc(100% - 1px);
      z-index: 5;
      width: 100%;
      height: 0;
      border-radius: 0 0 4px 4px;
      border: 1px solid var.$dark-color50;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
      background-color: #FFF;

      .dropdown-menu__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.5px 0 3.5px 15px
      }

      .dropdown-menu__item:first-child {
        margin-top: 2px;
      }

      .dropdown-menu__item:last-child {
        margin-bottom: 6px;
      }

      .item__title {}

      button {
        width: 30px;
        height: 30px;
        margin: 0 6px;
        border-radius: 50%;
        border: 1px solid var.$dark-color50;
        background-color: #FFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: var.$dark-color50;
      }

      button[disabled] {
        border: 1px solid var.$dark-color25;
      }

      .item__count {
        @include var.text-font-h3
      }
    }
  }

  &__facilities._active .facilities__label:after {
    rotate: 180deg;
  }

  &__facilities._active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  &__additional-facilities {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .additional-facilities__title {
      margin-bottom: 17px;
      text-transform: uppercase;
      cursor: pointer;
    }


    .additional-facilities__title:after {
      content: url("../img/icons/arrow_down.svg");
      display: inline-block;
      margin-left: 31px;
      transition: rotate 0.3s;
    }

    .additional-facilities__title[data-open='true']::after {
      rotate: 180deg;
    }

    .container {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s all;
    }

    .container._active {
      max-height: fit-content;
      opacity: 1;
      visibility: visible;
    }

    .additional-facilities__label {
      display: flex;
      position: relative;
      margin-bottom: 12px;
      @include var.text-font-regular;
      color: rgba(31, 32, 65, 0.5);
      cursor: pointer;
    }

    input {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
      visibility: hidden;
    }

    .checkmark {
      display: inline-block;
      position: relative;
      height: 20px;
      width: 20px;
      margin-right: 10px;
      background-color: #fff;
      border: 1px solid var.$dark-color25;
      border-radius: 4px;
    }

    input:checked~.checkmark {
      background-color: #fff;
      border: 1px solid var.$purple-color;
    }

    .checkmark:after {
      content: url("../img/icons/vector.svg");
      position: absolute;
      display: none;
    }

    input:checked~.checkmark:after {
      display: block;
    }

    .checkmark:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
    }
  }

  @media(max-width: 920px) {
    position: absolute;
    z-index: 4;
    top: 0;
    left: -200%;
    width: 100%;
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    border-top: 2px solid var.$purple-color;
    border-bottom: 2px solid var.$purple-color;
    transition: all 0.3s;

    .close-button {
      display: block;
    }

    &.room-filter_open {
      left: 0;
    }
  }

  @media(max-width: 400px) {
    &.room-filter_open {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.search-room-main {
  flex-basis: 100%;

  &__backdrop {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__content {
    position: relative;
    margin-bottom: 70px;
  }

  h1 {
    display: inline-block;
    text-align: center;
  }

  .filter-button {
    display: none;
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 6px 10px;
    border-radius: 20px;
    @include var.text-font-h3;
    // text-transform: uppercase;
    color: #fff;
    background-color: var.$purple-color;
  }

  &__catalog {
    margin-top: 25.5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px 13px;
  }

  &__pagination {
    margin-top: 41px;
  }

  &__results {
    margin-top: 11px;
  }

  @media(max-width: 920px) {
    .filter-button {
      display: block;
    }
  }

  @media(max-width: 730px) {
    .filter-button {
      position: static;
      width: 90%;
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.catalog-card {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  transition: box-shadow 0.3s;

  &__content {
    padding-bottom: 20px;
  }

  &__images {
    margin-bottom: 20px;
  }

  &__info {
    position: relative;
    margin: 0 auto 20px;
    max-width: 90%;
  }

  &__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var.$dark-color100;
  }

  &__type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.857rem;
    line-height: 1.071rem;
    text-transform: uppercase;
    color: var.$purple-color;
  }

  &__price-per-day {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.286rem;
    color: rgba(31, 32, 65, .5);
  }

  &__stats {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }

  &__rating {

    ._filled {
      display: inline-block;
      width: 21px;
      height: 20px;
      background-image: url(../img/icons/star.svg);
    }

    ._empty {
      display: inline-block;
      width: 21px;
      height: 20px;
      background-image: url(../img/icons/star_empty.svg);
    }
  }

  &__review {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.286rem;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
  }

  .swiper-button-prev,
  .swiper-button-next,
  .swiper-button-disabled {
    opacity: 0 !important;
    transition: opacity 0.25s;
  }

  &:hover {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.25);

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1 !important;
    }

    .swiper-button-disabled {
      opacity: 0.35 !important;
    }
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__item {}

  &__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    @include var.text-font-regular;
    line-height: 40px;

    &._active {
      color: #fff;
      border-radius: 50%;
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }

  &__link_last {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
}

.results {
  @include var.text-font-regular;
  text-align: center;
}

//------Room-details-------

.room-details {

  &__content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);


    .gallery__item {
      overflow: hidden;
    }

    .gallery__item:nth-child(1) {
      grid-row: 1/3;
      grid-column: 1/3;
    }

    .gallery__img {
      object-fit: cover;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      transition: transform 0.5s linear;

      &:hover {
        transform: scale(1.1);
      }
    }

    @media (max-width: 862px) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
    }
  }

  &__room-info {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 859px) {
      & {
        margin-top: 25px;
      }
    }
  }
}

.room-info {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(380px, 1fr);
  column-gap: 70px;
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;

  @media (max-width: 859px) {
    & {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 30px;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
    column-gap: 70px;
    row-gap: 30px;

    @media (max-width: 1180px) {
      & {
        grid-template-columns: 1fr;
      }
    }

    @media (max-width: 859px) {
      & {
        order: 2;
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (max-width: 570px) {
      & {
        grid-template-columns: 1fr;
      }
    }

  }

  &__flex-row {
    grid-column: span 2;
    display: flex;
    flex-direction: row;

    @media (max-width: 1180px) {
      & {
        grid-column: span 1;
      }
    }

    @media (max-width: 859px) {
      & {
        flex-direction: row;
        grid-column: span 2;
      }
    }

    @media (max-width: 570px) {
      & {
        flex-direction: column;
        grid-column: span 1;
      }
    }
  }

  &__advantages {}

  &__impression {}

  &__reviews {
    grid-column: span 2;

    @media (max-width: 1180px) {
      & {
        grid-column: span 1;
      }
    }

    @media (max-width: 859px) {
      & {
        grid-column: span 2;
      }
    }

    @media (max-width: 570px) {
      & {
        grid-column: span 1;
      }
    }
  }

  &__rules {}

  &__cancel {}

  &__book-room {
    @media (max-width: 859px) {
      & {
        justify-self: center;
      }
    }
  }
}

.advantages {
  max-width: 292px;
  width: 100%;
  background-color: #fff;

  &__list {}

  &__item {
    display: flex;
    gap: 10px;
    @include var.text-font-regular;
    margin-top: 22px;

    &:not(:last-child) {
      padding-bottom: 17px;
      border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    }

    &:before {
      content: "";
      display: inline-block;
      width: 48px;
      height: 48px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:nth-child(1):before {
      background-image: url("../img/icons/comfort_emoticon.svg");
    }

    &:nth-child(2):before {
      background-image: url("../img/icons/accommodation_emoticon.svg");
    }

    &:nth-child(3):before {
      background-image: url("../img/icons/fire_emoticon.svg");
    }

    .inner {
      display: inline-block;
    }
  }
}

.impression {
  max-width: 349px;
  font-family: 'Montserrat';

  &__title {
    margin-bottom: 21px;
  }

  .donut__sub-text {
    text-transform: uppercase;
  }

  &__list {
    align-self: flex-end;
  }

  &__item {
    @include var.text-font-regular;

    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      border-radius: 50%;
    }

    &:nth-child(1):before {
      background-image: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }

    &:nth-child(2):before {
      background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }

    &:nth-child(3):before {
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &:nth-child(4):before {
      background-image: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  }
}

.reviews {
  background-color: #fff;

  &__title {}

  &__count {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
  }

  &__reviews-list {}
}

.wrapper-flex {

  &_row {}
}

.reviews-list {
  background-color: #fff;

  &__review {}
}

.review {
  background-color: #fff;

  &__header {
    margin-top: 23px;
  }

  &__author-avatar {
    float: left;
    width: 46px;
    height: 46px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &__author-name {
    @include var.text-font-regular;
    color: var.$dark-color100;
  }

  &__date {
    display: inline-block;
    @include var.text-font-regular;
  }

  &__body {
    display: flex;
    margin-top: 10px;
  }

  &__like {}

  &__text {
    max-width: 653px;
    margin-left: 15px;
    @include var.text-font-regular;
  }
}

.like {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid var.$dark-color25;
  border-radius: 10px;
  cursor: pointer;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;

    svg {
      fill: none;
      stroke: rgba(31, 32, 65, 0.25);
    }
  }

  &__count {
    width: 20px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: var.$dark-color25
  }

  &:hover {
    border: 2px solid var.$purple-color;

    .like__icon {
      & svg {
        stroke: url(#paint0_linear_18384_118);
        fill: url(#paint0_linear_18384_118);
      }
    }

    .like__count {
      color: var.$purple-color;
    }
  }
}

.like_checked {
  border-color: var.$purple-color;

  .like__icon {
    & svg {
      stroke: url(#paint0_linear_18384_118);
      fill: url(#paint0_linear_18384_118)
    }
  }

  .like__count {
    color: var.$purple-color;
  }

  &:hover {
    border: 2px solid var.$dark-color25;

    .like__icon {
      & svg {
        stroke: 2px solid var.$dark-color25;
        fill: none;
      }
    }

    .like__count {
      color: var.$dark-color25;
    }
  }
}

.rules {
  margin-left: 20px;
  max-width: 266px;
  width: 100%;

  &__title {
    margin-bottom: 20px;
  }

  &__list {}

  &__item {
    margin-bottom: 10px;
    position: relative;
    @include var.text-font-regular;

    &:before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: -20px;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: var.$dark-color25;

    }
  }
}

.cancel {
  max-width: 341px;
  width: 100%;
  padding-left: 20px;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    @include var.text-font-regular
  }
}

.book-room {
  max-width: 380px;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__content {
    max-width: 340px;
    margin: 0 auto;
    padding: 40px 10px 30px;
    position: relative;
    z-index: 0
  }

  &__room-header {
    margin-bottom: 20px;
    position: relative;

  }

  .room-header {
    &__number {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 1.714rem;
      line-height: 2.071rem;
      color: var.$dark-color100;
    }

    &__type {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 0.857rem;
      line-height: 1.071rem;
      text-transform: uppercase;
      color: var.$purple-color;
    }

    &__price-per-day {
      position: absolute;
      right: 0;
      bottom: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.286rem;
      color: var.$dark-color50;
    }
  }

  &__summary-items {
    margin-top: 21px;
    margin-bottom: 20px;
    @include var.text-font-regular;
    line-height: 1.285rem;
    color: var.$dark-color75;
  }

  &__summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .summary-item {
    &__text {
      position: relative;
      max-width: 240px;
    }

    &__value {
      white-space: nowrap;
    }
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;

    span:first-child {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      width: 100%;

      &::after {
        content: "";
        flex: 1 1 100%;
        width: 100%;
        line-height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
      }
    }
  }

  .total-price {

    &__value {
      white-space: nowrap;
    }
  }

  &__button {
    position: relative;

    &::after {
      content: url("../img/icons/arrow_forward_white.svg");
      position: absolute;
      width: 18px;
      height: 18px;
      right: 15px;
      top: 50%;
      transform: translate(0, -50%);
    }

    &::before {
      width: 45%;
    }

  }

}